<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <video style="width: 100%; " autoplay src="{{partnerView}}"/>

      </div>
      <div class="card-content">
        <p>{{partnerNick}}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href='#'>This is a link</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card small">
        <div class="card-image">
          <video style="height: 100%; " autoplay src="{{selfView}}"/>

        </div>
        <div class="card-content">
          <p>self</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>

</div>
